html {
     height: 100%; 
     font-size: 100%;
 }
body { 
    font-family: 'Open Sans'; 
    color: black;             
    min-height: 100%; 
} 

a {
    color: #4a4949;
}

a:focus, a:hover {
    color: #4a4949;
    text-decoration: none;
}

 .main-list {
     position: absolute;
     padding: 0.5rem;
     background-color: rgba(204, 202, 204, 0.5);
     z-index: 1;
     float: left;
     height: 100%;
     width: 20%;
     min-width: 200px;
     font-family: 'Open Sans';
     font-size: 2rem;
     font-weight: 700;
     color: #4a4949;
 }
 
 .main-list .site-name {
     position: inherit;
     top: 2rem;
     left: 2rem;
     cursor: pointer;
 }

.main-list .add-room {
     position: inherit;
     top: 5rem;
     left: 2rem;
     cursor: pointer;
     font-family: 'Open Sans';
     font-size: 1rem;
     font-weight: 400;
     color: #4a4949;
}

.main-list .room-list {
     display: inline;
     position: inherit;
     top: 8rem;
     left: 2rem;
     height: 100px;
     color: white;
     text-decoration: none;
}

.main-list .room {
     position: inherit;
     height: 100%;
     color: #797878;
     font-size: 1rem;
     font-weight: 500;
     text-transform: uppercase;
     text-decoration: none;
     cursor: pointer;
}

.room-list .room a:hover {
     color: #337ab7;
 }

.modal-header {
     background-color: rgba(204, 202, 204, 0.5);
}
.modal-body {
     background-color: rgba(204, 202, 204, 0.5);
}

.modal-footer {
     background-color: rgba(204, 202, 204, 0.5);
}
.modal-title {
     font-family: 'Open Sans';
     font-size: 1rem;
     font-weight: 700;
     color: #4a4949;
}

.form-control {
     font-family: 'Open Sans';
     font-size: 1rem;
     font-weight: 300;
     color: #4a4949;
}

.btn-add-room {
    font-family: 'Open Sans';
    font-size: 1rem;
    font-weight: 400;
    color: #4a4949;
    background-color: #fff;
    border-color: #4a4949;
}

.btn-add-room:hover {
    color: #4a4949;
    background-color: rgba(204, 202, 204, 0.5);
    border-color: #4a4949;
}

.btn-add-room:active {
    color: #4a4949;
    background-color: rgba(204, 202, 204, 0.5);
    border-color: #4a4949;
}

.btn-create {
    font-family: 'Open Sans';
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    background-color: #4a4949;
    border-color: rgba(204, 202, 204, 0.5);
}

.btn-create:hover {
    color: #4a4949;
    background-color: rgba(204, 202, 204, 0.5);
    border-color: #4a4949;
}

.btn-cancel {
    font-family: 'Open Sans';
    font-size: 1rem;
    font-weight: 400;
    color: #4a4949;
    background-color: #fff;
    border-color: #4a4949;
}

.btn-cancel:hover {
    color: #4a4949;
    background-color: rgba(204, 202, 204, 0.5);
    border-color: #4a4949;
}
